# dependencies
node_modules/
**/node_modules/

# next.js
.next/
**/.next/
out/
**/out/

# build outputs
dist/
**/dist/

# database & local storage
prisma/*.db
prisma/*.db-journal
**/prisma/*.db
**/prisma/*.db-journal

# environment variables
.env
.env*.local
**/.env
**/.env*.local

# logs & debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
.DS_Store
Thumbs.db
